<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:form id="form_resultado_funcionario">
		<p:fieldset legend="#{msgs.titleEstabelecimentoFuncionarioResultado}">
			<p:panelGrid styleClass="fm-width-hundred-percent">
				<p:row>
					<p:column>
						<h:outputLabel for="funcionario_nome"
							value="#{msgs.funcionario_strnome}" />
					</p:column>
					<p:column>
						<p:inputText id="funcionario_nome"
							value="#{estabelecimentoFuncionarioControllerImp.funcionario.strnome}" />
					</p:column>
					<p:column>
						<h:outputLabel for="funcionario_sobrenome"
							value="#{msgs.funcionario_strsobrenome}" />
					</p:column>
					<p:column>
						<p:inputText id="funcionario_sobrenome"
							value="#{estabelecimentoFuncionarioControllerImp.funcionario.strsobrenome}" />
					</p:column>
					<p:column>
						<h:outputLabel for="funcionario_cpf"
							value="#{msgs.funcionario_numcpf}" />
					</p:column>
					<p:column>
						<p:inputMask id="funcionario_cpf" mask="#{msgs.jqMaskCPF}"
							value="#{estabelecimentoFuncionarioControllerImp.funcionarioNumcpf}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="funcionario_email"
							value="#{msgs.funcionario_stremail}" />
					</p:column>
					<p:column>
						<p:inputText id="funcionario_email"
							value="#{estabelecimentoFuncionarioControllerImp.funcionario.stremail}">
							<pe:keyFilter regEx="#{msgs.regExEmail}" />
						</p:inputText>
					</p:column>

					<p:column>
						<h:outputLabel for="funcionario_numtelefone"
							value="#{msgs.funcionario_numtelefone}" />
					</p:column>
					<p:column>
						<p:inputMask id="funcionario_numtelefone"
							mask="#{msgs.jqMaskTelefone}"
							value="#{estabelecimentoFuncionarioControllerImp.funcionarioTelefone}" />
					</p:column>

					<p:column>
						<h:outputLabel for="funcionario_numcelular"
							value="#{msgs.funcionario_numcelular}" />
					</p:column>
					<p:column>
						<p:inputMask id="funcionario_numcelular"
							mask="#{msgs.jqMaskCelular}"
							value="#{estabelecimentoFuncionarioControllerImp.funcionarioCelular}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="funcionario_flgativo"
							value="#{msgs.funcionario_flgativo}" />
					</p:column>
					<p:column styleClass="fm-text-center">
						<p:selectBooleanButton id="funcionario_flgativo"
							value="#{estabelecimentoFuncionarioControllerImp.funcionario.flgativo}"
							onLabel="#{msgs.yes}" offLabel="#{msgs.no}" />
					</p:column>
					<p:column colspan="2">
						<p:commandButton id="btnResetPassword"
							value="#{msgs.actionResetPassword}"
							styleClass="fm-width-hundred-percent"
							disabled="#{not estabelecimentoFuncionarioControllerImp.actionResetPasswordEnabled}"
							oncomplete="PF('confirmActionResetPassword').show()" />
					</p:column>
					<p:column colspan="2">
						<p:commandButton value="#{msgs.actionSave}"
							styleClass="fm-width-hundred-percent"
							action="#{estabelecimentoFuncionarioControllerImp.actionSave}"
							update="form_resultado_funcionario form_funcionario_estabelecimento" />
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:confirmDialog
				header="#{msgs.titleEstabelecimentoConfirmActionResetPasswordHeader}"
				id="confirmActionResetPassword"
				widgetVar="confirmActionResetPassword" closable="true"
				appendTo="@(body)">
				<f:facet name="message">
					<p:outputPanel id="confirmActionResetPasswordMessage">
						<h:outputFormat
							value="#{msgs.titleEstabelecimentoConfirmActionResetPasswordMessage}">
							<f:param
								value="#{estabelecimentoFuncionarioControllerImp.funcionario.strnome} #{estabelecimentoFuncionarioControllerImp.funcionario.strsobrenome}" />
						</h:outputFormat>
					</p:outputPanel>
				</f:facet>

				<p:commandButton value="#{msgs.yes}" onclick="actionResetPassword()"
					type="button" />
				<p:commandButton value="#{msgs.no}"
					onclick="PF('confirmActionResetPassword').hide()" />
			</p:confirmDialog>

			<p:remoteCommand name="actionResetPassword"
				actionListener="#{estabelecimentoFuncionarioControllerImp.actionResetPassword}"
				oncomplete="PF('confirmActionResetPassword').hide()" />

		</p:fieldset>
	</h:form>

	<h:form id="form_funcionario_estabelecimento">
		<p:fieldset legend="#{msgs.titleEstabelecimentoFuncionario}">
			<p:dataTable id="funcionariosEstabelecimento" var="funcionario"
				value="#{estabelecimentoFuncionarioControllerImp.listFuncionarioByEstabelecimento}"
				styleClass="fm-width-hundred-percent" selectionMode="single"
				selection="#{estabelecimentoFuncionarioControllerImp.funcionario}"
				rowKey="#{funcionario.id}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,25,50" paginatorPosition="bottom"
				paginatorAlwaysVisible="false" emptyMessage="#{msgs.emptyMessage}">

				<p:ajax event="rowSelect"
					update="form_resultado_funcionario form_funcionario_estabelecimento" />

				<p:column
					headerText="#{msgs.funcionario_strnome} #{msgs.funcionario_strsobrenome}">
					<h:outputText
						value="#{funcionario.strnome} #{funcionario.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.funcionario_numcpf}"
					styleClass="fm-text-center">
					<h:outputText value="#{funcionario.numcpf}">
						<f:converter converterId="CPFConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.funcionario_stremail}">
					<h:outputText value="#{funcionario.stremail}" />
				</p:column>

				<p:column headerText="#{msgs.funcionario_numtelefone}"
					styleClass="fm-text-center">
					<h:outputText
						value="#{funcionario.numdddtelefone}#{funcionario.numtelefone}">
						<f:converter converterId="TelefoneConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.funcionario_numcelular}"
					styleClass="fm-text-center">
					<h:outputText
						value="#{funcionario.numdddcelular}#{funcionario.numcelular}">
						<f:converter converterId="TelefoneConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.funcionario_flgativo}"
					styleClass="fm-text-center">
					<h:outputText value="#{funcionario.flgativo}">
						<f:converter converterId="BooleanConverter" />
					</h:outputText>
				</p:column>

			</p:dataTable>
			<br />
			<p:commandButton value="#{msgs.actionCreate}"
				styleClass="fm-width-thirty-percent fm-float-right"
				action="#{estabelecimentoFuncionarioControllerImp.actionCreate}"
				update="form_resultado_funcionario" />
		</p:fieldset>
	</h:form>
</ui:composition>