<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/fm.template.xhtml">
	<ui:define name="middle">
		<ui:include src="#{estabelecimentoControllerImp.pageName}" />
	</ui:define>
	<ui:define name="top">
		<ui:include src="/pages/estabelecimento.top.xhtml" />
	</ui:define>
</ui:composition>