<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:form id="form_registros_solicitados">
		<p:fieldset legend="#{msgs.titleEstabelecimentoRegistroSolicitado}">
			<p:dataTable id="registrosSolicitados" var="registroPontuacao"
				value="#{estabelecimentoLancamentoControllerImp.listRegistroPontuacaoRequestedByEstabelecimento}"
				styleClass="fm-width-hundred-percent"
				rowKey="#{registroPontuacao.id}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,25,50" paginatorPosition="bottom"
				paginatorAlwaysVisible="false" emptyMessage="#{msgs.emptyMessage}">


				<p:column headerText="#{msgs.funcionario_class_name}">
					<h:outputText
						value="#{registroPontuacao.funcionario.strnome} #{registroPontuacao.funcionario.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_class_name}">
					<h:outputText
						value="#{registroPontuacao.cliente.strnome} #{registroPontuacao.cliente.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_numcpf}"
					styleClass="fm-text-center">
					<h:outputText value="#{registroPontuacao.cliente.numcpf}">
						<f:converter converterId="CPFConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_valconta}">
					<h:outputText value="#{registroPontuacao.valconta}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskCurrency}"
							currencySymbol="#{msgs.jqMaskCurrencySymbol}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_numpontos}">
					<h:outputText value="#{registroPontuacao.numpontos}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskNumber}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_dttinclusao}">
					<h:outputText value="#{registroPontuacao.dttinclusao}"
						styleClass="fm-text-center">
						<f:convertDateTime pattern="#{msgs.jqMaskDateTime}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.titleEstabelecimentoRegistroAvaliar}"
					styleClass="fm-text-center">

					<p:commandButton id="btnEvaluate" value="#{msgs.actionEvaluate}"
						styleClass="fm-width-hundred-percent"
						update=":form_registros_solicitados:confirmActionEvaluateMessage"
						oncomplete="PF('confirmActionEvaluate').show()">
						<f:setPropertyActionListener value="#{registroPontuacao}"
							target="#{estabelecimentoLancamentoControllerImp.registroPontuacao}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog
				header="#{msgs.titleEstabelecimentoConfirmActionEvaluateHeader}"
				id="confirmActionEvaluate" widgetVar="confirmActionEvaluate"
				closable="true" appendTo="@(body)">
				<f:facet name="message">
					<p:outputPanel id="confirmActionEvaluateMessage">
						<h:outputFormat
							value="#{msgs.titleEstabelecimentoConfirmActionEvaluateMessage}">
							<f:param
								value="#{estabelecimentoLancamentoControllerImp.registroPontuacao.dttinclusao}" />
							<f:param
								value="#{estabelecimentoLancamentoControllerImp.registroPontuacao.funcionario.strnome} #{estabelecimentoLancamentoControllerImp.registroPontuacao.funcionario.strsobrenome}" />
							<f:param
								value="#{estabelecimentoLancamentoControllerImp.registroPontuacao.cliente.strnome} #{estabelecimentoLancamentoControllerImp.registroPontuacao.cliente.strsobrenome}" />
							<f:param
								value="#{estabelecimentoLancamentoControllerImp.registroPontuacao.numpontos}" />
						</h:outputFormat>
					</p:outputPanel>
				</f:facet>

				<p:commandButton value="#{msgs.actionApprove}"
					onclick="actionApprove()" type="button" />
				<p:commandButton value="#{msgs.actionReject}"
					onclick="actionReject()" type="button" />
			</p:confirmDialog>

			<p:remoteCommand name="actionApprove"
				actionListener="#{estabelecimentoLancamentoControllerImp.actionApprove}"
				oncomplete="PF('confirmActionEvaluate').hide()"
				update="form_registros_solicitados form_registros_aprovados form_registros_reprovados" />

			<p:remoteCommand name="actionReject"
				actionListener="#{estabelecimentoLancamentoControllerImp.actionReject}"
				oncomplete="PF('confirmActionEvaluate').hide()"
				update="form_registros_solicitados form_registros_aprovados form_registros_reprovados" />

		</p:fieldset>
	</h:form>

	<h:form id="form_registros_aprovados">
		<p:fieldset legend="#{msgs.titleEstabelecimentoRegistroAprovado}">
			<p:dataTable id="registrosAprovados" var="registroPontuacao"
				value="#{estabelecimentoLancamentoControllerImp.listRegistroPontuacaoApprovedByEstabelecimento}"
				styleClass="fm-width-hundred-percent"
				rowKey="#{registroPontuacao.id}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,25,50" paginatorPosition="bottom"
				paginatorAlwaysVisible="false" emptyMessage="#{msgs.emptyMessage}">

				<p:column headerText="#{msgs.funcionario_class_name}">
					<h:outputText
						value="#{registroPontuacao.funcionario.strnome} #{registroPontuacao.funcionario.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_class_name}">
					<h:outputText
						value="#{registroPontuacao.cliente.strnome} #{registroPontuacao.cliente.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_numcpf}"
					styleClass="fm-text-center">
					<h:outputText value="#{registroPontuacao.cliente.numcpf}">
						<f:converter converterId="CPFConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_valconta}">
					<h:outputText value="#{registroPontuacao.valconta}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskCurrency}"
							currencySymbol="#{msgs.jqMaskCurrencySymbol}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_numpontos}">
					<h:outputText value="#{registroPontuacao.numpontos}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskNumber}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_dttinclusao}">
					<h:outputText value="#{registroPontuacao.dttinclusao}"
						styleClass="fm-text-center">
						<f:convertDateTime pattern="#{msgs.jqMaskDateTime}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.titleEstabelecimentoRegistroAvaliar}"
					styleClass="fm-text-center">

					<p:commandButton id="btnReevaluateApproved"
						value="#{msgs.actionReevaluate}"
						styleClass="fm-width-hundred-percent"
						update=":form_registros_solicitados:confirmActionEvaluateMessage"
						oncomplete="PF('confirmActionEvaluate').show()">
						<f:setPropertyActionListener value="#{registroPontuacao}"
							target="#{estabelecimentoLancamentoControllerImp.registroPontuacao}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:fieldset>

	</h:form>
	<h:form id="form_registros_reprovados">
		<p:fieldset legend="#{msgs.titleEstabelecimentoRegistroReprovado}">
			<p:dataTable id="registrosReprovados" var="registroPontuacao"
				value="#{estabelecimentoLancamentoControllerImp.listRegistroPontuacaoRejectedByEstabelecimento}"
				styleClass="fm-width-hundred-percent"
				rowKey="#{registroPontuacao.id}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,25,50" paginatorPosition="bottom"
				paginatorAlwaysVisible="false" emptyMessage="#{msgs.emptyMessage}">

				<p:column headerText="#{msgs.funcionario_class_name}">
					<h:outputText
						value="#{registroPontuacao.funcionario.strnome} #{registroPontuacao.funcionario.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_class_name}">
					<h:outputText
						value="#{registroPontuacao.cliente.strnome} #{registroPontuacao.cliente.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_numcpf}"
					styleClass="fm-text-center">
					<h:outputText value="#{registroPontuacao.cliente.numcpf}">
						<f:converter converterId="CPFConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_valconta}">
					<h:outputText value="#{registroPontuacao.valconta}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskCurrency}"
							currencySymbol="#{msgs.jqMaskCurrencySymbol}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_numpontos}">
					<h:outputText value="#{registroPontuacao.numpontos}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskNumber}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_dttinclusao}">
					<h:outputText value="#{registroPontuacao.dttinclusao}"
						styleClass="fm-text-center">
						<f:convertDateTime pattern="#{msgs.jqMaskDateTime}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.titleEstabelecimentoRegistroAvaliar}"
					styleClass="fm-text-center">

					<p:commandButton id="btnReevaluateRepproved"
						value="#{msgs.actionReevaluate}"
						styleClass="fm-width-hundred-percent"
						update=":form_registros_solicitados:confirmActionEvaluateMessage"
						oncomplete="PF('confirmActionEvaluate').show()">
						<f:setPropertyActionListener value="#{registroPontuacao}"
							target="#{estabelecimentoLancamentoControllerImp.registroPontuacao}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:fieldset>
	</h:form>
</ui:composition>