<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:panelGrid columns="2" class="fm-width-hundred-percent"
		columnClasses="fm-width-fifty-percent, fm-width-fifty-percent">
		<h:form id="form_novo_cliente">
			<p:fieldset legend="#{msgs.titleFuncionarioNovoCliente}">
				<p:panelGrid styleClass="fm-width-hundred-percent">
					<p:row>
						<p:column>
							<h:outputLabel for="pesquisa_cliente_cpf"
								value="#{msgs.cliente_numcpf}" />
						</p:column>
						<p:column>
							<p:autoComplete id="pesquisa_cliente_cpf" minQueryLength="3"
								styleClass="fm-width-hundred-percent" maxlength="15"
								queryDelay="200" onclick="this.select()"
								value="#{funcionarioRegistroControllerImp.clienteNumcpf}"
								completeMethod="#{funcionarioRegistroControllerImp.listClienteCPFByPartialCPF}">
								<p:ajax event="query" global="false" />
							</p:autoComplete>
						</p:column>
						<p:column>
							<p:commandButton value="#{msgs.actionSearch}"
								styleClass="fm-width-hundred-percent"
								action="#{funcionarioRegistroControllerImp.actionSearch}"
								update="form_resultado_cliente form_resultado_registro" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:fieldset>
		</h:form>
		<h:form id="form_cliente_existente">
			<p:fieldset legend="#{msgs.titleFuncionarioClienteExistente}">
				<p:panelGrid styleClass="fm-width-hundred-percent">
					<p:row>
						<p:column>
							<h:outputLabel for="pesquisa_cliente_nome"
								value="#{msgs.cliente_strnome} #{msgs.cliente_strsobrenome}" />
						</p:column>
						<p:column>
							<p:autoComplete id="pesquisa_cliente_nome" minQueryLength="3"
								styleClass="fm-width-hundred-percent" maxlength="511"
								queryDelay="200" onclick="this.select()"
								value="#{funcionarioRegistroControllerImp.clienteNomeSobrenome}"
								completeMethod="#{funcionarioRegistroControllerImp.listClienteNomeSobrenomeByPartialNomeSobrenome}">
								<p:ajax event="query" global="false" />
							</p:autoComplete>
						</p:column>
						<p:column>
							<p:commandButton value="#{msgs.actionSearch}"
								styleClass="fm-width-hundred-percent"
								action="#{funcionarioRegistroControllerImp.actionSearch}"
								update="form_resultado_cliente form_resultado_registro" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:fieldset>
		</h:form>
	</h:panelGrid>
	<h:form id="form_resultado_cliente">
		<p:fieldset legend="#{msgs.titleFuncionarioResultado}">
			<p:panelGrid styleClass="fm-width-hundred-percent">
				<p:row>
					<p:column>
						<h:outputLabel for="cliente_nome" value="#{msgs.cliente_strnome}" />
					</p:column>
					<p:column>
						<p:inputText id="cliente_nome"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							value="#{funcionarioRegistroControllerImp.cliente.strnome}" />
					</p:column>
					<p:column>
						<h:outputLabel for="cliente_sobrenome"
							value="#{msgs.cliente_strsobrenome}" />
					</p:column>
					<p:column>
						<p:inputText id="cliente_sobrenome"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							value="#{funcionarioRegistroControllerImp.cliente.strsobrenome}" />
					</p:column>
					<p:column>
						<h:outputLabel for="cliente_empresa"
							value="#{msgs.cliente_empresa}" />
					</p:column>
					<p:column>
						<p:inputText id="cliente_empresa"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							value="#{funcionarioRegistroControllerImp.clienteEmpresa}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<!-- cpf nome empresa valor data + calendar NFP btn -->
						<h:outputLabel for="cliente_cpf" value="#{msgs.cliente_numcpf}" />
					</p:column>
					<p:column>
						<p:inputMask id="cliente_cpf" mask="#{msgs.jqMaskCPF}"
							readonly="true" disabled="true"
							value="#{funcionarioRegistroControllerImp.clienteNumcpf}" />
					</p:column>
					<p:column>
						<h:outputLabel for="registro_pontuacao_valconta"
							value="#{msgs.registro_pontuacao_valconta}" />
					</p:column>
					<p:column>
						<pe:inputNumber id="registro_pontuacao_valconta"
							widgetVar="registro_pontuacao_valconta"
							value="#{funcionarioRegistroControllerImp.registroPontuacao.valconta}"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled}"
							symbol="R$ " decimalSeparator="," thousandSeparator="."
							onclick="PF('registro_pontuacao_valconta').setValue('')" />
					</p:column>
					<p:column>
						<h:outputLabel for="registro_pontuacao_dttreferencia"
							value="#{msgs.registro_pontuacao_dttreferencia}" />
					</p:column>
					<p:column>
						<p:calendar id="registro_pontuacao_dttreferencia"
							value="#{funcionarioRegistroControllerImp.registroPontuacao.dttreferencia}"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled}"
							pattern="dd/MM/yyyy" mask="true" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="visita_recente"
							value="#{msgs.titleFuncionarioVisitaRecente}" />
					</p:column>
					<p:column>
						<p:inputText id="visita_recente"
							value="#{funcionarioRegistroControllerImp.visitaRecente}"
							disabled="true" />
					</p:column>
					<p:column>
						<h:outputLabel for="visita_total"
							value="#{msgs.titleFuncionarioVisitaTotal}" />
					</p:column>
					<p:column>
						<p:inputText id="visita_total"
							value="#{funcionarioRegistroControllerImp.visitaTotal}"
							disabled="true" />
					</p:column>
					<p:column>
						<h:outputLabel for="visita_ultima"
							value="#{msgs.titleFuncionarioVisitaUltima}" />
					</p:column>

					<p:column>
						<p:inputText id="visita_ultima"
							value="#{funcionarioRegistroControllerImp.visitaUltima}"
							disabled="true">
							<f:convertDateTime pattern="#{msgs.jqMaskDate}" />
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="registro_pontuacao_flgnfpaulista"
							value="#{msgs.registro_pontuacao_flgnfpaulista}" />
					</p:column>
					<p:column styleClass="fm-text-center">
						<p:selectBooleanButton id="registro_pontuacao_flgnfpaulista"
							value="#{funcionarioRegistroControllerImp.registroPontuacao.flgnfpaulista}"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							onLabel="#{msgs.yes}" offLabel="#{msgs.no}" />
					</p:column>
					<p:column>
						<h:outputLabel for="registro_pontuacao_flggerarpontos"
							value="#{msgs.registro_pontuacao_flggerarpontos}" />
					</p:column>
					<p:column styleClass="fm-text-center">
						<p:selectBooleanButton id="registro_pontuacao_flggerarpontos"
							value="#{funcionarioRegistroControllerImp.registroPontuacao.flggerarpontos}"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							onLabel="#{msgs.yes}" offLabel="#{msgs.no}" />
					</p:column>
					<p:column colspan="2">
						<p:commandButton value="#{msgs.actionAdd}"
							styleClass="fm-width-hundred-percent"
							action="#{funcionarioRegistroControllerImp.actionRegister}"
							disabled="#{not funcionarioRegistroControllerImp.actionRegisterEnabled}"
							update="form_resultado_registro form_resultado_cliente form_cliente_frequente form_registros_recentes" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:fieldset>
	</h:form>
	<h:form id="form_resultado_registro">
		<p:fieldset legend="#{msgs.titleFuncionarioSaldo}">
			<p:panelGrid styleClass="fm-width-hundred-percent">
				<p:row>
					<p:column>
						<h:outputLabel for="cliente_nome_sobrenome"
							value="#{msgs.cliente_strnome}" />
					</p:column>
					<p:column>
						<p:inputText id="cliente_nome_sobrenome"
							value="#{funcionarioRegistroControllerImp.cliente.strnome} #{funcionarioRegistroControllerImp.cliente.strsobrenome}"
							disabled="true" />
					</p:column>
					<!-- Review credita	 -->
					<p:column>
						<h:outputLabel for="credito"
							value="#{msgs.titleFuncionarioCredito}" />
					</p:column>
					<p:column>
						<p:inputText id="credito"
							value="#{funcionarioRegistroControllerImp.numCredito}"
							disabled="#{not funcionarioRegistroControllerImp.actionCreditEnabled  or funcionarioRegistroControllerImp.noClientSearch}" />
					</p:column>
					<p:column colspan="2">
						<p:commandButton id="btnCredit" value="#{msgs.actionCredit}"
							styleClass="fm-width-hundred-percent"
							disabled="#{not funcionarioRegistroControllerImp.actionCreditEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							update=":form_resultado_registro:confirmActionCreditMessage"
							oncomplete="PF('confirmActionCredit').show()" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="saldo_pontos"
							value="#{msgs.titleFuncionarioSaldoPontos}" />
					</p:column>
					<p:column>
						<p:inputText id="saldo_pontos"
							value="#{funcionarioRegistroControllerImp.saldoPontos}"
							disabled="true" />
					</p:column>
					<p:column>
						<h:outputLabel for="retirada"
							value="#{msgs.titleFuncionarioRetirada}" />
					</p:column>
					<p:column>
						<p:inputText id="retirada"
							value="#{funcionarioRegistroControllerImp.numRetirada}"
							disabled="#{not funcionarioRegistroControllerImp.actionSubtractEnabled  or funcionarioRegistroControllerImp.noClientSearch}" />
					</p:column>
					<p:column colspan="2">
						<p:commandButton id="btnSubtract" value="#{msgs.actionSubtract}"
							styleClass="fm-width-hundred-percent"
							disabled="#{not funcionarioRegistroControllerImp.actionSubtractEnabled or funcionarioRegistroControllerImp.noClientSearch}"
							update=":form_resultado_registro:confirmActionSubtractMessage"
							oncomplete="PF('confirmActionSubtract').show()" />
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:confirmDialog
				header="#{msgs.titleFuncionarioConfirmActionSubtractHeader}"
				id="confirmActionSubtract" widgetVar="confirmActionSubtract"
				closable="true" appendTo="@(body)">
				<f:facet name="message">
					<p:outputPanel id="confirmActionSubtractMessage">
						<h:outputFormat
							value="#{msgs.titleFuncionarioConfirmActionSubtractMessage}">
							<f:param value="#{funcionarioRegistroControllerImp.numRetirada}" />
							<f:param
								value="#{funcionarioRegistroControllerImp.cliente.strnome} #{funcionarioRegistroControllerImp.cliente.strsobrenome}" />
							<f:param
								value="#{funcionarioRegistroControllerImp.saldoAposRetirada}" />
						</h:outputFormat>
					</p:outputPanel>
				</f:facet>

				<p:commandButton value="#{msgs.yes}" onclick="actionSubtract()"
					type="button" />
				<p:commandButton value="#{msgs.no}"
					onclick="PF('confirmActionSubtract').hide()" />
			</p:confirmDialog>

			<p:remoteCommand name="actionSubtract"
				actionListener="#{funcionarioRegistroControllerImp.actionSubtract}"
				oncomplete="PF('confirmActionSubtract').hide()"
				update="form_resultado_registro form_resultado_cliente form_cliente_frequente form_registros_recentes" />

			<p:confirmDialog
				header="#{msgs.titleFuncionarioConfirmActionCreditHeader}"
				id="confirmActionCredit" widgetVar="confirmActionCredit"
				closable="true" appendTo="@(body)">
				<f:facet name="message">
					<p:outputPanel id="confirmActionCreditMessage">
						<h:outputFormat
							value="#{msgs.titleFuncionarioConfirmActionCreditMessage}">
							<f:param value="#{funcionarioRegistroControllerImp.numCredito}" />
							<f:param
								value="#{funcionarioRegistroControllerImp.cliente.strnome} #{funcionarioRegistroControllerImp.cliente.strsobrenome}" />
							<f:param
								value="#{funcionarioRegistroControllerImp.saldoAposCredito}" />
						</h:outputFormat>
					</p:outputPanel>
				</f:facet>

				<p:commandButton value="#{msgs.yes}" onclick="actionCredit()"
					type="button" />
				<p:commandButton value="#{msgs.no}"
					onclick="PF('confirmActionCredit').hide()" />
			</p:confirmDialog>

			<p:remoteCommand name="actionCredit"
				actionListener="#{funcionarioRegistroControllerImp.actionCredit}"
				oncomplete="PF('confirmActionCredit').hide()"
				update="form_resultado_registro form_resultado_cliente form_cliente_frequente form_registros_recentes" />

		</p:fieldset>
	</h:form>

	<h:form id="form_registros_recentes">
		<p:fieldset legend="#{msgs.titleFuncionarioRegistroRecente}">
			<p:dataTable id="registrosRecentes" var="registroPontuacao"
				value="#{funcionarioRegistroControllerImp.listRegistroPontuacaoRecenteByFuncionario}"
				styleClass="fm-width-hundred-percent"
				rowKey="#{registroPontuacao.id}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,25,50" paginatorPosition="bottom"
				paginatorAlwaysVisible="false" emptyMessage="#{msgs.emptyMessage}">

				<p:column
					headerText="#{msgs.cliente_strnome} #{msgs.cliente_strsobrenome}">
					<h:outputText
						value="#{registroPontuacao.cliente.strnome} #{registroPontuacao.cliente.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_numcpf}"
					styleClass="fm-text-center">
					<h:outputText value="#{registroPontuacao.cliente.numcpf}">
						<f:converter converterId="CPFConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_valconta}">
					<h:outputText value="#{registroPontuacao.valconta}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskCurrency}"
							currencySymbol="#{msgs.jqMaskCurrencySymbol}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_numpontos}">
					<h:outputText value="#{registroPontuacao.numpontos}"
						styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskNumber}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.registro_pontuacao_dttinclusao}">
					<h:outputText value="#{registroPontuacao.dttinclusao}"
						styleClass="fm-text-center">
						<f:convertDateTime pattern="#{msgs.jqMaskDateTime}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.titleFuncionarioEstornoSolicitado}"
					styleClass="fm-text-center">
					<h:outputText value="#{registroPontuacao.description}" />

					<p:commandButton id="btnReverse" value="#{msgs.actionReverse}"
						styleClass="fm-width-hundred-percent"
						rendered="#{not registroPontuacao.selected}"
						update=":form_registros_recentes:confirmActionReverseMessage"
						oncomplete="PF('confirmActionReverse').show()">
						<f:setPropertyActionListener value="#{registroPontuacao}"
							target="#{funcionarioRegistroControllerImp.registroPontuacao}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog
				header="#{msgs.titleFuncionarioConfirmActionReverseHeader}"
				id="confirmActionReverse" widgetVar="confirmActionReverse"
				closable="true" appendTo="@(body)">
				<f:facet name="message">
					<p:outputPanel id="confirmActionReverseMessage">
						<h:outputFormat
							value="#{msgs.titleFuncionarioConfirmActionReverseMessage}">
							<f:param
								value="#{funcionarioRegistroControllerImp.registroPontuacao.numpontos}" />
							<f:param
								value="#{funcionarioRegistroControllerImp.registroPontuacao.cliente.strnome} #{funcionarioRegistroControllerImp.registroPontuacao.cliente.strsobrenome}" />
							<f:param
								value="#{funcionarioRegistroControllerImp.registroPontuacao.dttinclusao}" />
						</h:outputFormat>
					</p:outputPanel>
				</f:facet>

				<p:commandButton value="#{msgs.yes}" onclick="actionReverse()"
					type="button" />
				<p:commandButton value="#{msgs.no}"
					onclick="PF('confirmActionReverse').hide()" />
			</p:confirmDialog>

			<p:remoteCommand name="actionReverse"
				actionListener="#{funcionarioRegistroControllerImp.actionReverse}"
				oncomplete="PF('confirmActionReverse').hide()"
				update="form_registros_recentes form_cliente_frequente" />

		</p:fieldset>
	</h:form>

	<h:form id="form_cliente_frequente">
		<p:fieldset legend="#{msgs.titleFuncionarioClienteFrequente}">
			<p:dataTable id="clientesFrequentes" var="cliente"
				value="#{funcionarioRegistroControllerImp.listClienteByFrequency}"
				styleClass="fm-width-hundred-percent" selectionMode="single"
				selection="#{funcionarioRegistroControllerImp.cliente}"
				rowKey="#{cliente.id}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,25,50" paginatorPosition="bottom"
				paginatorAlwaysVisible="false" emptyMessage="#{msgs.emptyMessage}">

				<p:ajax event="rowSelect" oncomplete="actionSelect()" />

				<p:column
					headerText="#{msgs.cliente_strnome} #{msgs.cliente_strsobrenome}">
					<h:outputText value="#{cliente.strnome} #{cliente.strsobrenome}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_empresa}">
					<h:outputText value="#{cliente.description}" />
				</p:column>

				<p:column headerText="#{msgs.cliente_numcpf}"
					styleClass="fm-text-center">
					<h:outputText value="#{cliente.numcpf}">
						<f:converter converterId="CPFConverter" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.titleFuncionarioVisitaRecente}">
					<h:outputText value="#{cliente.number}" styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskNumber}" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{msgs.titleFuncionarioSaldoPontos}">
					<h:outputText value="#{cliente.value}" styleClass="fm-float-right">
						<f:convertNumber pattern="#{msgs.jqMaskNumber}" />
					</h:outputText>
				</p:column>
			</p:dataTable>

			<p:remoteCommand name="actionSelect"
				actionListener="#{funcionarioRegistroControllerImp.actionSearch}"
				update="form_resultado_registro form_resultado_cliente" />

		</p:fieldset>
	</h:form>
</ui:composition>