<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGrid columns="2"
		class="fm-width-hundred-percent fm-height-hundred-percent"
		columnClasses="fm-width-fifty-percent fm-height-hundred-percent, fm-width-fifty-percent">
		<h:panelGrid styleClass="fm-topBar">
			<h:graphicImage url="/images/fm-logo-black-bg.png" />
		</h:panelGrid>
		<h:panelGrid class="fm-width-hundred-percent">
			<p:panelGrid styleClass="fm-text-center fm-width-hundred-percent">
				<p:row>
					<p:column>
						<h:outputLabel
							value="#{funcionarioControllerImp.funcionario.estabelecimento.strnomereduzido} - #{funcionarioControllerImp.funcionario.strnome}" />
					</p:column>
					<p:column>
						<p:commandButton value="#{msgs.actionLogout}"
							styleClass="fm-width-hundred-percent"
							action="#{funcionarioControllerImp.actionLogout}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid styleClass="fm-text-center fm-width-hundred-percent">
				<f:facet name="header">
					<p:row>
						<p:column colspan="4">
							<h:outputLabel value="#{msgs.titleFuncionarioMenu}" />
						</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<p:commandButton value="#{msgs.titleFuncionarioMenuRegistrar}"
							styleClass="fm-width-hundred-percent"
							action="#{funcionarioControllerImp.redirectRegistro}" />
					</p:column>
					<p:column>
						<p:commandButton value="#{msgs.titleFuncionarioMenuCadastro}"
							styleClass="fm-width-hundred-percent"
							action="#{funcionarioControllerImp.redirectCadastro}" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:panelGrid>
	</h:panelGrid>
</ui:composition>