<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:form id="form_cadastro_funcionario">
		<p:fieldset legend="#{msgs.titleFuncionarioCadastro}">
			<p:panelGrid styleClass="fm-width-hundred-percent">
				<p:row>
					<p:column>
						<h:outputLabel for="funcionario_nome"
							value="#{msgs.funcionario_strnome}" />
					</p:column>
					<p:column>
						<p:inputText id="funcionario_nome"
							value="#{funcionarioCadastroControllerImp.funcionario.strnome}" />
					</p:column>
					<p:column>
						<h:outputLabel for="funcionario_sobrenome"
							value="#{msgs.funcionario_strsobrenome}" />
					</p:column>
					<p:column>
						<p:inputText id="funcionario_sobrenome"
							value="#{funcionarioCadastroControllerImp.funcionario.strsobrenome}" />
					</p:column>
					<p:column>
						<h:outputLabel for="funcionario_cpf"
							value="#{msgs.funcionario_numcpf}" />
					</p:column>
					<p:column>
						<p:inputMask id="funcionario_cpf" mask="#{msgs.jqMaskCPF}"
							value="#{funcionarioCadastroControllerImp.funcionarioNumcpf}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="funcionario_email"
							value="#{msgs.funcionario_stremail}" />
					</p:column>
					<p:column>
						<p:inputText id="funcionario_email"
							value="#{funcionarioCadastroControllerImp.funcionario.stremail}">
							<pe:keyFilter regEx="#{msgs.regExEmail}" />
						</p:inputText>
					</p:column>

					<p:column>
						<h:outputLabel for="funcionario_numtelefone"
							value="#{msgs.funcionario_numtelefone}" />
					</p:column>
					<p:column>
						<p:inputMask id="funcionario_numtelefone"
							mask="#{msgs.jqMaskTelefone}"
							value="#{funcionarioCadastroControllerImp.funcionarioTelefone}" />
					</p:column>

					<p:column>
						<h:outputLabel for="funcionario_numcelular"
							value="#{msgs.funcionario_numcelular}" />
					</p:column>
					<p:column>
						<p:inputMask id="funcionario_numcelular"
							mask="#{msgs.jqMaskCelular}"
							value="#{funcionarioCadastroControllerImp.funcionarioCelular}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="funcionario_senha"
							value="#{msgs.funcionario_strsenha}" />
					</p:column>
					<p:column>
						<p:password id="funcionario_senha"
							value="#{funcionarioCadastroControllerImp.funcionario.strsenha}"
							inline="true" />
					</p:column>
					<p:column>
						<h:outputLabel for="funcionario_confirm_strsenha"
							value="#{msgs.funcionario_confirm_strsenha}" />
					</p:column>
					<p:column>
						<p:password id="funcionario_confirm_strsenha"
							value="#{funcionarioCadastroControllerImp.funcionario.description}"
							inline="true" />
					</p:column>
					<p:column colspan="2">
						<p:commandButton value="#{msgs.actionSave}"
							styleClass="fm-width-hundred-percent"
							action="#{funcionarioCadastroControllerImp.actionSave}"
							update="form_cadastro_funcionario" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:fieldset>
	</h:form>
</ui:composition>