<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:panelGrid columns="2"
		class="fm-width-hundred-percent fm-height-hundred-percent"
		columnClasses="fm-width-fifty-percent fm-height-hundred-percent, fm-width-fifty-percent">
		<h:panelGrid styleClass="fm-topBar">
			<h:graphicImage url="/images/fm-logo-black-bg.png" />
		</h:panelGrid>
		<p:tabView>
			<p:tab title="#{msgs.funcionario_class_name}">
				<h:form id="form_index_top_funcionario">
					<h:panelGrid columns="3">
						<h:outputLabel for="funcionario_cpf"
							value="#{msgs.funcionario_numcpf}" />
						<h:outputLabel for="funcionario_senha"
							value="#{msgs.funcionario_strsenha}" />
						<br />
						<p:inputMask id="funcionario_cpf" mask="#{msgs.jqMaskCPF}"
							value="#{indexControllerImp.funcionarioNumcpf}" />
						<p:password id="funcionario_senha"
							value="#{indexControllerImp.funcionario.strsenha}" inline="true" />
						<p:commandButton value="#{msgs.actionLogin}"
							action="#{indexControllerImp.actionLoginFuncionario}" />
					</h:panelGrid>
				</h:form>
			</p:tab>
			<p:tab title="#{msgs.estabelecimento_class_name}">
				<h:form id="form_index_top_estabelecimento">
					<h:panelGrid columns="3">
						<h:outputLabel for="estabelecimento_cnpj"
							value="#{msgs.estabelecimento_cnpj}" />
						<h:outputLabel for="estabelecimento_senha"
							value="#{msgs.estabelecimento_senha}" />
						<br />
						<p:inputMask id="estabelecimento_cnpj" mask="#{msgs.jqMaskCNPJ}"
							value="#{indexControllerImp.estabelecimentoNumcnpj}" />
						<p:password id="estabelecimento_senha"
							value="#{indexControllerImp.estabelecimento.strsenha}"
							inline="true" />
						<p:commandButton value="#{msgs.actionLogin}"
							action="#{indexControllerImp.actionLoginEstabelecimento}" />
					</h:panelGrid>
				</h:form>
			</p:tab>
			<p:tab title="Cliente" disabled="true">

			</p:tab>
		</p:tabView>
	</h:panelGrid>
</ui:composition>