<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{facesContext.externalContext.requestLocale}">
	<h:head>
		<title>#{msgs.titleIndexSiteName}</title>
	</h:head>
	<h:body>
		<p:layout fullPage="true">
			<h:form id="messages">
				<p:growl id="messages" showDetail="true" sticky="true"
					autoUpdate="true" />
			</h:form>
			<p:layoutUnit position="west" styleClass="fm-sideBar" />
			<p:layoutUnit position="center">
				<p:layout>
					<p:layoutUnit position="north" resizable="false" size="135"
						minSize="135" styleClass="fm-mainPage fm-no-scrool">
						<ui:insert name="top">
							<ui:include src="/pages/index.top.xhtml" />
						</ui:insert>
					</p:layoutUnit>

					<p:layoutUnit position="center" header="#{msgs.titleIndexWelcome}"
						resizable="true" size="100" minSize="40" maxSize="200"
						styleClass="fm-mainPage">
						<ui:insert name="middle">
							<ui:include src="/pages/index.middle.xhtml" />
						</ui:insert>
					</p:layoutUnit>
				</p:layout>
			</p:layoutUnit>
			<p:layoutUnit position="east" styleClass="fm-sideBar" />
		</p:layout>

		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()"
			onerror="PF('statusDialog').hide(); PF('errorDialog').show()" />

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage url="/images/ajaxloadingbar.gif" />
		</p:dialog>

		<p:dialog widgetVar="errorDialog" modal="true" draggable="false"
			closable="true" resizable="false" showHeader="true">
			<h:outputText value="#{msgs.error}" />
		</p:dialog>
	</h:body>
</f:view>
</html>