<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE" />

<h:head>

</h:head>

<h:body>

	<pm:page id="IndexMobileControllerImp">
		<pm:header title="#{msgs.titleIndexSiteName}"></pm:header>

		<pm:content>
			<h:form id="form_index_estabelecimento_mobile">
				<p:messages id="messages" showDetail="true" closable="true"
					autoUpdate="true" />
				<h:outputLabel for="estabelecimento_cnpj"
					value="#{msgs.estabelecimento_cnpj}" />
				<p:inputText type="number" id="estabelecimento_cnpj"
					value="#{indexMobileControllerImp.estabelecimentoNumcnpj}" />
				<h:outputLabel for="estabelecimento_senha"
					value="#{msgs.estabelecimento_senha}" />
				<p:password id="estabelecimento_senha"
					value="#{indexMobileControllerImp.estabelecimento.strsenha}"
					inline="true" />
				<p:commandButton value="#{msgs.actionLogin}"
					action="#{indexMobileControllerImp.actionLoginEstabelecimento}" 
					update="clienteConsultaPontuacaoMobileControllerImp"/>
			</h:form>
		</pm:content>

		<pm:footer title="#{msgs.titleIndexWelcome}"></pm:footer>
	</pm:page>

	<pm:page id="clienteConsultaPontuacaoMobileControllerImp">
		<pm:header title="#{msgs.titleClienteConsultaPontuacaoHeader}" />

		<pm:content>
			<h:form id="form_cliente_consulta_pontuacao">
				<p:messages id="messages" showDetail="true" closable="true"
					autoUpdate="true" />
				<h:outputLabel for="cliente_cpf" value="#{msgs.cliente_numcpf}" />
				<p:inputText type="number" id="cliente_cpf"
					value="#{clienteConsultaPontuacaoMobileControllerImp.clienteNumcpf}" />
				<p:commandButton value="#{msgs.actionSearch}"
					action="#{clienteConsultaPontuacaoMobileControllerImp.actionSearch}" 
					update="clienteVisualizaPontuacaoMobileControllerImp"/>
			</h:form>
		</pm:content>

		<pm:footer
			title="#{msgs.titleIndexSiteName} - #{clienteConsultaPontuacaoMobileControllerImp.estabelecimento.strnomereduzido}" />
	</pm:page>

	<pm:page id="clienteVisualizaPontuacaoMobileControllerImp">
		<pm:header title="#{msgs.titleClienteConsultaPontuacaoHeader}" />

		<pm:content>
			<h:form id="form_cliente_visualiza_pontuacao">
				<p:messages id="messages" showDetail="true" closable="true"
					autoUpdate="true" />
				<h:outputLabel for="cliente_saldopontos"
					value="#{msgs.titleClienteVisualizaPontuacaoSaldoPontos}" />
				<h:outputText id="cliente_saldopontos"
					value="#{clienteVisualizaPontuacaoMobileControllerImp.saldoPontos}" />
				<p:commandButton value="#{msgs.actionClose}"
					action="#{clienteVisualizaPontuacaoMobileControllerImp.actionClose}" />
			</h:form>
		</pm:content>

		<pm:footer
			title="#{msgs.titleIndexSiteName} - #{clienteConsultaPontuacaoMobileControllerImp.estabelecimento.strnomereduzido}" />
	</pm:page>

</h:body>

</html>